/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.text-left, .text-right {
    flex: 1;
    text-align: center;
}

.image {
    flex: 2;
    text-align: center;
}

.image img {
    max-width: 100%;
    height: auto;
}
.navigation{
    list-style: none;
    padding: 0;
    margin: 0;
}

    



/* Set a background color for the entire page */
body {
    background-color: #f0f0f0; /* Replace with the desired background color */
    margin: auto; /* Remove default margin */
    padding: auto; /* Remove default padding */
}


/* Style the header */
header {
    background-color: #333;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    padding: 10px;
    color: #fff;

}

.logo {
    font-size: 24px;
    font-weight: bold;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    
}

.navigation {
    display: flex;
    list-style: none;
}
.navigation li{
    flex: 1 1 100%;
}

.navigation a {
    display: block;
    color: whitesmoke;
    padding: 20px;
    text-decoration: none;

}
.navigation a:hover {
    color: tomato;
    font-weight:700;
    text-decoration: underline;
}

/* Style the company name in the header */
h1 {
    font-size: 36px;
    margin: 20px 0;
}

/* Style sections */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.text-left, .text-right {
    flex: 1;
}
.image {
    flex: 2;
}

.image img {
    max-width: 100%;
    height: auto;
}
/* Style section titles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-heading {
    text-align: center;
}
section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.image-container img {
    max-width: 100px;
    height: auto;
}
/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: right;
    padding: 10px 0;
}

/* Style the copyright text in the footer */
footer p {
    font-size: 14px;
    margin-bottom: 10px;
}

/* Style social media icons in the footer */
footer a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
}

/* Style the hero section */


